# Server manzili. BOʻSH boʻlsa ilova mock rejimda ishlaydi (localStorage).
#
# Brauzerda sinash:        http://localhost:3100
# Android emulyatorda:     http://10.0.2.2:3100
# Haqiqiy telefonda:       http://<kompyuter LAN IP>:3100  (masalan 192.168.1.5)
#
# Serverni koʻtarish: repo ildizida `PORT=3100 npm run start:dev`
VITE_API_URL=
